*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100%;
    background-color: rgb(76, 145, 8);
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.container {
    height: 65svh;
    width: 60%;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 8px;
    background-color: tomato;
    outline: none;
    cursor: pointer;
    
}